.root{
    background-color: #2f455c;
    padding-bottom: 6rem;
}
.body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto
    auto auto auto auto auto auto;
    grid-row-gap: 2rem;
}
.name {
    display: flex;
    justify-self: left;
    grid-column: 2;
    grid-row: 1;
    font-size: 5rem;
    font-weight: 300;
    color: #34f5c5;
    margin-top: 3rem;
    text-shadow: 0.13rem 0.13rem #405d7d;
}
.text1{
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    width: 100%;
}
.text {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #1dcdfe;
    display: block;
    margin-top: 0px;
}
.description {
    display: flex;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    max-width: 80%;
    font-size: 3rem;
    color: #1dcdfe;
}
.projectsTitle {
    display: flex;
    justify-self: right;
    grid-column: 2;
    grid-row: 3;
    font-size: 3rem;
    color: #21d0b2;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 0px;
    font-weight: 300;
}
.hr {
    display: block;
    width: 100%;
    grid-column: 2;
    grid-row: 4;
    color: #1dcdfe;
    border-color: #1dcdfe;
}
.projectTitle {
    display: flex;
    grid-column: 2;
    grid-row: 5;
    font-size: 2.5rem;
    color: #21d0b2;
    margin-bottom: 0px;
    margin-top: 3rem;
    font-weight: 300;
}
.project1Title {
    justify-content: left;
}
.project1 {
    display: flex;
    justify-self: center;
    grid-column: 2;
    grid-row: 6;
    color: #1dcdfe;
    flex-direction: row;
    padding-bottom: 4rem;
}
.gif {
    display: flex;
    max-width: 60%;
    padding-left: 1rem;
    height: auto;
    object-fit: contain;
}
.project2Title {
    justify-content: right;
    grid-column: 2;
    grid-row: 7;
}
.project2 {
    display: flex;
    grid-row: 8;
    grid-column: 2;
    flex-direction: row;
}
.serverimg {
    display: flex;
    max-width: 50%;
    height: auto;
    object-fit: contain;
}
.project3Title {
    grid-column: 2;
    grid-row: 9;
}
.project3 {
    display: flex;
    grid-row: 10;
    grid-column: 2;
}
@media (max-width: 1200px) {
    .project1 {
        flex-direction: column;
    }
    .gif {
        max-width: 100%;
    }
}
@media (max-width: 650px) {
    .name {
        font-size: 3rem;
    }
    .text1{
        font-size: 1rem;
    }
    .text {
        font-size: 1rem;
    }
    .projectsTitle {
        font-size: 2rem;
    }
    .projectTitle {
        font-size: 1.6rem;
    }
}