.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10% auto;
    align-items: center;
}
.title {
    grid-column: 2;
    place-self: center;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4A4F74;
    padding-bottom: 1rem;
}
.table {
    grid-column: 2;
    grid-row: 3;
    table-layout: fixed;
    justify-self: center;
    justify-content: center;
    width: auto;
    display: inline-block;
    padding-top: 1rem;
}
.button {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    border-style: solid;
    border-width: thin;
    border-color: #4A4F74;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
    background: #FA9A9440;
    width: 15rem;
    height: 4rem;
    justify-self: center;
}
.button:hover {
    background: #FA9A9460;
}
.github {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    justify-self: center;
}
.linkedin {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    justify-self: center;
}

.mathcs {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    justify-self: center;
}
.center{
    padding-top: 0.7em;
}
/*
#FFAA3C
#4A4F74
#FA9A94
#FFCC7C
 */